
		<div class="footer-copyright grey lighten-3" style="position: absolute; left:0; right:0; margin-left: auto; margin-right: auto; bottom:0px;">
            <div class="container black-text center-align light" style="padding:8px;">
            <i class="fa fa-hand-peace-o"></i> Made by Luis and Shik at Galvanize <i class="fa fa-hand-peace-o"></i> 
            
            </div>
        </div>    
   
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
  ​<script src="javascript/init.js"></script>  
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>