
		<div class="footer-copyright grey lighten-3" style="position: absolute; left:0; right:0; margin-left: auto; margin-right: auto; bottom:0px;">
            <div class="container black-text center-align light" style="padding:8px;">
            <i class="fa fa-hand-peace-o"></i> Made by Luis and Shik at Galvanize <i class="fa fa-hand-peace-o"></i> 
            
            </div>
        </div>    
        </footer>