   <nav class="blue darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="padding-left:10px;"><span class="orange-text condensed">Creative </span><span class="white-text thin">Collective</span></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
   
        <li><a href="/private/<%= userID %>" class="thin">Profile</a></li>
        <li><a href="/upload/<%= userID %>" class="thin">Upload</a></li>
        <li><a href="/auth/logout" class="thin ">Logout</a></li>
      </ul>
    </div>
  </nav>