   <nav class="blue darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="padding-left:10px;"><span class="orange-text condensed">Creative </span><span class="white-text thin">Collective</span></a>
      
    </div>
  </nav>