   <nav class="blue darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo light" style="padding-left:10px;">Module2 Project</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
   
        <li><a href="" class="thin">Profile</a></li>
        <li><a href="/upload/<%= userID %>" class="thin">Upload</a></li><li><a href="/" class="thin">Splash</a></li>
      </ul>
    </div>
  </nav>