<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>



<% include partials/head %>

  </head>

 <body class="grey lighten-5">
  <div class="parallax-container" style="height:100vh;">
    <div class="container">
      <h1 class="header center white-text light">Module 2 project</h1>
        <div class="row center">
          <h5 class="header col s12 white-text thin">A place for creatives to get together.</h5>
        </div>
        
        <div class="row center">
          <a href="/auth/facebook" id="download-button" class="btn-large waves-effect waves-light blue darken-1"><i class="fa fa-facebook left"></i>Sign up with Facebook</a>
          <br>
          <br>
          <a href="/signup/email" id="download-button" class="btn-large waves-effect waves-light red darken-1"> <i class="material-icons left">email</i>Sign up with E-mail</a>
          <br>
          <p class="white-text thin">LOG-IN</p>
​
      <div style="position: absolute; left:0; right:0; margin-left: auto; margin-right: auto; bottom:10px;">
      <p class="thin white-text" id="ceemee" > see more </p>
      <a class="btn-floating btn-large waves-effect waves-circle waves blue-grey lighten-5"  id="scroller"><i class="material-icons" style=" color:black; transform: rotate(90deg);">fast_forward</i></a>
      </div>
​
    </div>
​  </div>
  <div class="parallax">
  <img src="images/apple-macbook-camera-cup.jpg"></div>
  </div>
  <div class="row">
​<img class="responsive-img" id="secondarybanner" src="images/hotlinegrid.jpg">
</div>
    <div class="section grey lighten-5" >
     <div class="row">
      <div class="col s4 center">
        <i class="material-icons medium">videocam</i>
        <h4> Photographers </h4>
        <p> Organic venmo brunch normcore. Chia twee cred, green juice aesthetic 8-bit locavore narwhal stumptown. Skateboard bespoke irony literally four loko ethical. Brooklyn fingerstache literally godard aesthetic.  </p>
      </div>
      <div class="col s4 center">
        <i class="material-icons medium">person_pin</i>
        <h4> Models </h4>
        <p> Waistcoat bicycle rights keffiyeh artisan. Fashion axe humblebrag gentrify, messenger bag intelligentsia migas helvetica austin mixtape occupy skateboard tumblr small batch normcore photo booth.</p>
      </div>
      <div class="col s4 center me">
        <i class="material-icons medium">settings_remote</i>
        <h4> MUA's </h4>
        <p>Readymade viral affogato sartorial, cliche hella cardigan knausgaard. Gluten-free meditation disrupt, pitchfork photo booth tattooed normcore stumptown vice venmo portland salvia keytar tacos.</p>
      </div>
    </div>
    </div>
	  
​
​    ​<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    ​<script src="javascript/init.js"></script>   
  </body>
</html>