<!DOCTYPE html>
<html>
  <head>
    <title>upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="upload">
    	<form action="/upload/continue/" method="post" enctype="multipart/form-data">
          <label for="file">Select your image:</label>
          <input type="file" name="file" id="file" />
          <span class="hint">Supported files: jpg, jpge, png.</span>
          <button type="submit">upload</button>
        </form>
    </section>
  </body>
</html>
