<h1> public profile page</h1>

<h3> first name : <%= first_name %> </h3>
<h3> last name : <%= last_name %> </h3>
<h3> role : <%= role %> </h3>
<img src=" <%= main_picture %>" style="width:304px;height:228px;">
