<form action="/signup/email" method="post">
  <br>First name:<br>
  <input type="text" name="firstname"><br>
  <br>Last name:<br>
  <input type="text" name="lastname">
  <br>City:<br>
  <input type="text" name="city">
  <br>Email:<br>
  <input type="email" name="email">
  <br>Password <br>
  <input type="password" name="password">

  <input type="submit">
</form>