<!DOCTYPE html>
<html>
<head>
<% include partials/head %>
  <title>Sign Up</title>
</head>
 <body class="grey lighten-5">

<% include partials/navbarmin %>
<div class="container">


<div class="row">
<div class="col s4 offset-s4">
 <div class="card white">
 <div class="card-content black-text">

<span class="card-title">Enter your info:</span>
<form action="/signup/email" method="post">
  <br>First name:<br>
  <input type="text" name="firstname"><br>
  <br>Last name:<br>
  <input type="text" name="lastname">
  <br>City:<br>
  <input type="text" name="city">
  <br>Email:<br>
  <input type="email" name="email">
  <br>Password <br>
  <input type="password" name="password">

   <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>

</div>
</div>
</div>
</div>
</div>

<% include partials/footer %>
</body>
</html>

