<!DOCTYPE html>
<html>
<head>
<% include partials/head %> 
	<title></title>
</head>
 <body class="grey lighten-5">

<% include partials/navbar %>

 <div class="container">
 <div class="col s10 offset-s1" style="padding-top:25px;">
 <div class="card white">
  <div class="card-content black-text">
   <span class="card-title">Upload complete!</span>

<a href ="/upload/<%= userID %>">Upload more? </a>
<a href ="/private/<%= userID %>">View Profile </a>  


</div>
</div>
</div>
</div>

</body>
</html>