  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      



#ceemee {
	display: none;
}

#scroller {
	opacity: 0.5;
}

.brighten img:hover {
  -webkit-filter: brightness(70%);
}